<%= custom_fields_section_title @custom_fields_section %>

<% if @custom_fields_section.project_custom_fields.present? %>
  <table class="list custom_fields_sections">
    <thead><tr>
      <th><%= l(:custom_fields) %></th>
      <th>Position</th>
      <th></th>
    </tr></thead>
    <tbody>
    <% @custom_fields_section.project_custom_fields.sort.each do |cf| -%>
      <tr>
        <td class="name">
          <%= link_to cf.name, edit_custom_field_path(cf) %>
        </td>
        <td><%= cf.position %></td>
        <td class="buttons">
          <%= reorder_handle(cf, :url => custom_field_path(cf), :param => 'custom_field') %>
        </td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= labelled_form_for @custom_fields_section do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag l(:button_edit) %>
<% end %>

<%= javascript_tag do %>
  $(function() { $("table.custom_fields_sections tbody").positionedItems({}, { firstPosition: <%= @custom_fields_section.project_custom_fields.sort.first.position %> }); });
<% end %>
