<% custom_fields = (@custom_fields_by_type[tab[:name]] || []).sort
   if tab[:name] == "ProjectCustomField"
     custom_fields = group_projects_custom_fields_by_section(custom_fields)
   end %>

<% custom_fields.each do |custom_field|
  back_url = custom_fields_path(:tab => tab[:name]) %>

  <% if custom_field.is_a?(Hash) %>
    <tr class="section_custom_field">
      <td class="name">
        <%= link_to custom_field[:name], edit_custom_fields_section_path(custom_field[:id]) %>
        <% custom_field[:items].each do |item| %>
          <br />
          <span class="name">
            <%= link_to item.name, edit_custom_field_path(item) %>
          </span>
        <% end %>
      </td>
      <td>
        <% custom_field[:items].each do |item| %>
          <br />
          <span><%=  l(item.format.label) %></span>
        <% end %>
      </td>
      <td></td>
      <td class="buttons">
        <%= reorder_handle(custom_field, :url => custom_field_path(custom_field[:items].first), :param => 'custom_field') %>
        <%= delete_link custom_fields_section_path(custom_field[:id]) %>
      </td>
    </tr>
  <% else %>
    <tr>
      <td class="name"><%= link_to custom_field.name, edit_custom_field_path(custom_field) %></td>
      <td><%= l(custom_field.format.label) %></td>
      <td><%= checked_image custom_field.is_required? %></td>
      <% if tab[:name] == 'IssueCustomField' %>
        <td><%= checked_image custom_field.is_for_all? %></td>
        <td><%= l(:label_x_projects, :count => @custom_fields_projects_count[custom_field.id] || 0) if custom_field.is_a? IssueCustomField and !custom_field.is_for_all? %></td>
      <% end %>
      <td class="buttons">
        <%= reorder_handle(custom_field, :url => custom_field_path(custom_field), :param => 'custom_field') %>
        <%= delete_link custom_field_path(custom_field) %>
      </td>
    </tr>
  <% end %>
<% end %>
